image rootfs.ext4 {
    size = 200M
    ext4 {}
    mountpoint = "/"
}

image home.ext4 {
    size = 32M
    ext4 {}
    mountpoint = "/home"
}

image ${GENIMAGE_IMAGE_FULLNAME} {
    hdimage {
        align = 1M
        partition-table-type = gpt
    }

    partition rootfs {
        image = "rootfs.ext4"
        size = 200M
    }

    partition home {
        image = "home.ext4"
        size = 32M
    }
}
