image ${GENIMAGE_IMAGE_FULLNAME} {
        hdimage {
                align = 1M
                partition-table-type = gpt
                gpt-location = 2M
        }

        partition root-A {
                image = "${ROOTFS_IMAGE_NAME}${IMAGE_MACHINE_SUFFIX}.rootfs.ext4.zst"
                partition-type-uuid = "root-arm"
                size = 150M
        }

        partition root-B {
                size = 150M
                partition-type-uuid = "root-arm"
        }

        partition data {
                size = 100M
                # Linux partition, no auto mount
                partition-type-uuid = "7FFEC5C9-2D00-49B7-8941-3EA10A5586B7" # linux-reserved
        }
}
