image ${GENIMAGE_IMAGE_FULLNAME}sparse {
        android-sparse {
                image = "${GENIMAGE_IMAGE_FULLNAME}"
        }
}

image ${GENIMAGE_IMAGE_FULLNAME} {
        hdimage {
                align = 1M
                partition-table-type = gpt
                gpt-location = 2M
        }

        partition barebox {
                in-partition-table = false
                image = "${BAREBOX_BINARY}"
                size = 896K
                in-partition-table = false
                holes = {"(440; 32K)"}
        }

        partition barebox-environment {
                # The barebox environment location is configured in the board
                # devicetree files to 0xe0000 ... 0xe0000+0x20000.
                offset = 896K
                size = 128K
                in-partition-table = false
                # Fill with actual zeros.
                # TODO: replace with "sparse = false" with genimage >= v19
                image = "/dev/zero"
        }

        partition barebox-state {
                size = 1M
                partition-type-uuid = "barebox-state"
                # Fill with actual zeros.
                # TODO: replace with "sparse = false" with genimage >= v19
                image = "/dev/zero"
        }

        partition root-A {
                image = "${REFERENCE_ROOTFS_IMAGE}${IMAGE_MACHINE_SUFFIX}${IMAGE_NAME_SUFFIX}.ext4"
                partition-type-uuid = "root-arm"
                size = 150M
        }

        partition root-B {
                size = 150M
                partition-type-uuid = "root-arm"
        }

        partition data {
                size = 100M
                # Linux partition, no auto mount
                partition-type-uuid = "7FFEC5C9-2D00-49B7-8941-3EA10A5586B7" # linux-reserved
        }
}
